<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login/Register</title>
</head>
<body>
    <div class="navbar border-bottom bg-light">
        <div class="navbar-brand">The Majors Presented by the BBC</div>
    </div>
    <br>
    <div class="container d-flex">
        <div class="container card col-7 bg-light">
            <div class="h2 text-center">Register</div>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                    <div class="p">{{message}}</div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary form-control">
                </div>
            </form>
        </div>
        <div class="container card col-4 bg-light">
            <div class="h2 text-center">Login</div>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                    <div class="p">{{message}}</div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary form-control">
                </div>
            </form>
        </div>
    </div>
</body>
</html>